<%= javascript_pack_tag 'questions' %>

<div class="questions-container">
  <% @questions.each_with_index do |question, index| %>
    <div>
      <h1><%= question.body %></h1>
      <%= link_to '->', '#', class: 'next-button', data: { id: index } %>
    </div>
  <% end %>
</div>
